* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Shadows Into Light", cursive, monospace;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100wh;
	height: 100vh;
	background-color: #eae2cf;
}
.container {
	width: 1040px;
	height: 800px;
	background-color: #fbeecc;
	padding: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 1px 1px 26px 0px #0000008c;
	box-shadow: 1px 1px 26px 0px #0000008c;
	overflow: hidden;
	padding-bottom: 20px;
}

header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 10px;
	h1 {
		font-size: 50px;
	}
	p {
		font-size: 20px;
	}
}
header img {
	width: 80px;
	
}
.content {
	width: 100%;
	height: 500px;
}

.tasks {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 10px;
	padding: 10px;
}
.menu {
	height: 60px;
	padding: 10px;
	border-bottom: 1px solid grey;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.inputTaskContainer {
	height: 50px;
	padding: 10px;
	display: flex;
	gap: 10px;
	display: flex;
	justify-content: space-around;
}
.ActiveTasksContainer {
	flex: 2;
	padding: 10px;
}
.ActiveTasks {
	width: 100%;
	max-height: 280px;
	overflow: auto;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	list-style: none;
}
.ActiveTasks li {
	display: flex;
	border-bottom: 1px solid grey;
	justify-content: space-between;
}
.ActiveTasks span {
	font-size: 20px;
	letter-spacing: 2px;
}
.imageCheck {
	width: 20px;
	height: 25px;
	cursor: pointer;
}

.completedTasksContainer {
	flex: 1;
	padding: 10px;
	h3 {
		border-bottom: 1px solid gray;
	}
}

.completedTasks {
	width: 100%;
	max-height: 280px;
	overflow: auto;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	list-style: none;
	
}
.trash {
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.task {
	display: flex;
	gap: 5px;
}
.completedTasks li {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid grey;
}
.completedTasks span {
	text-decoration: line-through;
	color: grey;
}
#inputTask {
	width: 400px;
	padding: 15px;
	font-size: 20px;
	border-radius: 5px;
	outline: none;
	border: 1px solid grey;
	background: transparent;
	text-align: center;
}
.buttonAddTask {
	display: flex;
	gap: 5px;
	align-items: center;
	padding-inline: 10px;
	cursor: pointer;
	background: transparent;
	border-radius: 5px;
	border: 1px solid grey;
	text-transform: uppercase;
}
.buttonAddTask img {
	width: 20px;
	height: 20px;
}

.buttonAddTask:hover {
	background-color: rgb(226, 209, 226);
}
.clockContainer {
	display: flex;
	align-items: center;
}
.clockContainer img {
	height: 40px;
}
.clock {
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 3px;
}
.dateContainer {
	display: flex;
	align-items: center;
	gap: 10px;
}
.dateContainer img {
	height: 40px;
}
.calendar {
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 3px;
}

